<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ SITE_NAME }}</title>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>:(</h1>
			</div>
			<h2 class="notfound__header">404 - Página no encontrada</h2>
			<p>
                La página que está buscando podría haberse eliminado, 
                cambiado su nombre o no está disponible temporalmente.
            </p>
			<a href="{{ PUBLIC_PATH }}">Pagina de Inicio</a>
		</div>
	</div>
	<!-- Custom Theme -->
	<script src="{{ PUBLIC_PATH }}/js/public.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>