{% extends "template_administration.twig" %}

{% block sidebar_menu_links %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-project-diagram"></i>
            <p> Proyectos <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Nuevo</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ver Todos</p>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
