$cssCore: false;
$cssHelpers: false;
$devMode: false;

// Breakpoints
$breakpoints : (
    xs  : 0,
    sm  : 576px,
    md  : 768px,
    lg  : 992px,
    xl  : 1200px
);

//Importar libreria ed-grid
@import './mixins-edgrid/ed-grid.scss';

//Importar base
@import 'partials/variables';
@import 'partials/base';

//Importar stylos para la pagina 404
@import 'partials/404';

//Importar stylos para las paginas publicas
@import 'partials/public/menu';
@import 'partials/public/footer';
@import 'partials/public/index';
@import 'partials/public/proyectos';
