
// Colores
//$color_thema1 : #003663; // Tema principal
$color_tema : rgb(7, 33, 70); // Tema principal
$color_menu : rgb(7, 33, 70); // Color del menu
$color_footer : #1e1e1e;  // Color para el footer

// Más colores
$color_celeste_osc : #73879C;  //celeste opaco
$color_pardo : #D8D8D8;  //pardo

// Otros
$heightScreen: 100vh;